body{
    background-color: rgb(233, 227, 227);
}
*{
    margin:0;
    padding:0;
}
.main-wrapper{
    max-width: 600px;
    background-color: white;
    box-shadow: 2px 10px 20px grey;
    height: 90vh;
    margin: auto;
}
